<!--
    ioBroker.vis fritzbox Widget-Set

    version: "0.0.1"
 
    Copyright 2019 nobodyMO markus@korporal.de
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/fritzboxWidget/css/style.css" />
<!-- here you can include so many js-files as you want -->
<script type="text/javascript" src="widgets/fritzboxWidget/js/fritzboxWidget.js"></script>

<script id="tplFritzboxState"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev='<img src="widgets/fritzboxWidget/img/fritzboxprev.png">'
        data-vis-attrs="powerstateoid/id;connectionstateoid/id;phonestateoid/id;wlanstateoid/id"
		
        data-vis-set="fritzbox"
        data-vis-type="val" 
        data-vis-name="Fritzbox"
		data-vis-update-style="true"
		>

		<div class="vis-widget <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>"
		data-oid-powerstateoid="<%=  this.data.attr('powerstateoid') %>"
        data-oid-connectionstateoid="<%= this.data.attr('connectionstateoid') %>"
        data-oid-phonestateoid="<%= this.data.attr('phonestateoid') %>"
        data-oid-wlanstateoid="<%= this.data.attr('wlanstateoid') %>"
		>
			<div class="fritzwrapper" >
			  <div class="fritzbox"></div> 
			  <div class="fritzboxpower fritzboxpoweroff" ></div>
			  <div class="fritzboxinternet fritzboxinternetoff"></div>
			  <div class="fritzboxphone fritzboxphoneoff" ></div>
			  <div class="fritzboxwlan fritzboxwlanoff" ></div>  
			</div>
          <%		  
			var powerstate=vis.states.attr(this.data.powerstate + '.val');
			console.log ("powerstate Obj:" + JSON.stringify (vis.states.attr(this.data.powerstateoid + '.val')));
			console.log ("powerstate (" + this.data.powerstateoid + "):" + powerstate);
		  
			vis.binds.fritzbox = {
				powerstate: 0,
				connectionstate: 0,
				phonestate: 0,
				wlanstate: 0,
				flashstate:true,
				createWidget: function (widgetID, view, data, style) {
					var fbobj=this;
					
					var $div = $('#' + widgetID);
					// if nothing found => wait
					if (!$div.length) {
						return setTimeout(function () {
							fbobj.createWidget(widgetID, view, data, style);
						}, 100);
					}
					var scale=Math.min(($div.width()) / 750,($div.height()) / 386 );
					console.log ("resize #" + widgetID + " to scale " + scale );
					$div.find('div.fritzwrapper').css("transform","scale(" + scale +")");
		    
					if (data.powerstateoid) {
						vis.states.bind(data.powerstateoid + '.val', 
							function (e, newVal, oldVal) {
							fbobj.powerstate=newVal;
							console.log ("powerstate :" + fbobj.powerstate);
							var obj=$div.find('div.fritzboxpower');
							obj.removeClass('fritzboxpower'+(!fbobj.powerstate?"on":"off"));
							obj.addClass('fritzboxpower'+(fbobj.powerstate?"on":"off"));			
						});					
						fbobj.powerstate=vis.states.attr(data.powerstateoid + '.val');
						console.log ("powerstate Obj" + JSON.stringify (vis.states.attr(data.powerstateoid + '.val')));
						console.log ("powerstate (" + data.powerstateoid + "):" + fbobj.powerstate);
						var obj=$div.find('div.fritzboxpower');
						obj.removeClass('fritzboxpower'+(!fbobj.powerstate?"on":"off"));
						obj.addClass('fritzboxpower'+(fbobj.powerstate?"on":"off"));			
					}				
					if (data.connectionstate) {
						fbobj.connectionstate=vis.states.attr(data.connectionstateoid + '.val');
						console.log ("connectionstate (" + data.connectionstateoid + "):" + fbobj.connectionstate);
						var obj=$div.find('div.fritzboxinternet');
						obj.removeClass('fritzboxinternet'+(!fbobj.connectionstate?"on":"off"));
						obj.addClass('fritzboxinternet'+(fbobj.connectionstate?"on":"off"));
						vis.states.bind(data.connectionstateoid + '.val', function (e, newVal, oldVal) {
							fbobj.connectionstate=newVal;
							console.log ("connectionstate :" + fbobj.connectionstate);
							var obj=$div.find('div.fritzboxinternet');
							obj.removeClass('fritzboxinternet'+(!fbobj.connectionstate?"on":"off"));
							obj.addClass('fritzboxinternet'+(fbobj.connectionstate?"on":"off"));
						});
					}				
					if (data.phonestateoid) {
						fbobj.phonestate=vis.states.attr(data.phonestateoid + '.val');
						console.log ("phonestate (" + data.phonestateoid + "):" + fbobj.phonestate);
						var obj=$div.find('div.fritzboxphone');
						obj.removeClass('fritzboxphone'+(!fbobj.phonestate?"on":"off"));
						obj.addClass('fritzboxphone'+(fbobj.phonestate?"on":"off"));
						vis.states.bind(data.phonestateoid + '.val', function (e, newVal, oldVal) {
							fbobj.phonestate=newVal;
							console.log ("phonestate (" + data.phonestateoid + "):" + fbobj.phonestate);
							var obj=$div.find('div.fritzboxphone');
							obj.removeClass('fritzboxphone'+(!fbobj.phonestate?"on":"off"));
							obj.addClass('fritzboxphone'+(fbobj.phonestate?"on":"off"));
						});
					}				
					if (data.wlanstateoid) {
						fbobj.wlanstate=vis.states.attr(data.wlanstateoid + '.val');
						console.log ("wlanstate (" + data.wlanstateoid + "):" + fbobj.wlanstate);
						var obj=$div.find('div.fritzboxwlan');
						obj.removeClass('fritzboxwlan'+(!fbobj.wlanstate?"on":"off"));
						obj.addClass('fritzboxwlan'+(fbobj.wlanstate?"on":"off"));

						vis.states.bind(data.wlanstateoid + '.val', function (e, newVal, oldVal) {
							fbobj.wlanstate=newVal;
							console.log ("wlanstate :" + fbobj.wlanstate);
							obj.removeClass('fritzboxwlan'+(!fbobj.wlanstate?"on":"off"));
							obj.addClass('fritzboxwlan'+(fbobj.wlanstate?"on":"off"));

						});
					}
					setInterval(function(){ 
						fbobj.flashstate=!fbobj.flashstate;
						
						if (fbobj.powerstate==2) {
							var obj=$div.find('div.fritzboxpower');
							obj.removeClass('fritzboxpower'+(!fbobj.flashstate?"on":"off"));
							obj.addClass('fritzboxpower'+(fbobj.flashstate?"on":"off"));
						}; 				
						if (fbobj.connectionstate==2) {
							var obj=$div.find('div.fritzboxinternet');
							obj.removeClass('fritzboxinternet'+(!fbobj.flashstate?"on":"off"));
							obj.addClass('fritzboxinternet'+(fbobj.flashstate?"on":"off"));
						};
						if (fbobj.phonestate==2) {
							var obj=$div.find('div.fritzboxphone');
							obj.removeClass('fritzboxphone'+(!fbobj.flashstate?"on":"off"));
							obj.addClass('fritzboxphone'+(fbobj.flashstate?"on":"off"));
						};
						if (fbobj.wlanstate==2) {
							var obj=$div.find('div.fritzboxwlan');
							obj.removeClass('fritzboxwlan'+(!fbobj.flashstate?"on":"off"));
							obj.addClass('fritzboxwlan'+(fbobj.flashstate?"on":"off"));
						};
					}, 1000);
					
				}
			};
			console.log ("initialize resizeable for #" + this.data.wid);		
			$("#" + this.data.wid).resizable({
				resize: doResize
			});
			
			function doResize(event, ui) {
			    var scale=Math.min(ui.size.width/750, ui.size.height/386 );
			    console.log ("Auto-Resize "+ scale)
				ui.element.find('div.fritzwrapper').css("transform","scale(" + scale +")");
			};

			
            vis.binds.fritzbox.createWidget(this.data.wid, this.view, this.data, this.style);						
          %>		  
		</div>	
</script>
